* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222;
  position: relative;
  min-height: 100vh;
  background-color: #bad2d9;
}

/* Header */
.home-menu {
  padding: 0.5em;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

.home-menu {
  background: lightseagreen;
}

.pure-menu.pure-menu-fixed {
  /* Fixed menus normally have a border at the bottom. */
  border-bottom: none;
  /* I need a higher z-index here because of the scroll-over effect. */
  z-index: 4;
}

.home-menu .pure-menu-heading {
  color: white;
  font-weight: 400;
  font-size: 120%;
}

.home-menu .pure-menu-selected a {
  color: white;
}

.home-menu a {
  color: #f4f8f7;
}

.home-menu li a:hover,
.home-menu li a:focus {
  background: none;
  border: none;
  color: #AECFE5;
}

/* Splash Container */
.splash-container {
  background: #bad2d9;
  z-index: 1;
  overflow: hidden;
  /* The following styles are required for the "scroll-over" effect */
  width: 100%;
  height: 350px;
  top: 0;
  left: 0;
  padding: 0;
  position: fixed !important;
}

.splash {
  /* absolute center .splash within .splash-container */
  width: 50%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

/* This is the main heading that appears on the blue section */
.splash-head {
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
  color: white;
  letter-spacing: 0.05em;
  opacity: 0.8;
  padding: 1em 1em;
}


/* Search Modal */
.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

#recentSearches {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: lightseagreen;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
}

.btn-open {
  background-color: lightseagreen;
  color: white;
  padding: 0.5em 2em;
  border-radius: 5px;
}

.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}

/* Search Modal Overlay */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}

.giph-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: none;
  color: white;
  background-color: grey;
  margin-bottom: 10px;
  margin-left: 10px;
  align-content: center;
  text-align: center;
  margin-top: 10px;
  padding: 2px 16px;
}

iframe:hover {
  box-shadow: inset 0px 0px 8px rgb(38, 241, 197), 0 0 15px rgb(21, 230, 150);
}

.btn-open:hover {
  box-shadow: inset 0px 0px 8px rgb(38, 241, 197), 0 0 15px rgb(21, 230, 150);
}

/* Add some padding inside the card container */
.card-padding {
  margin-top: 10px;
  padding: 2px 16px;
}

form {
  display: flex;
  flex-direction: row;
}

input {
  width: 100%;
  padding: 10px 35px 10px 15px;
  background-color: none;
  border: solid grey;
  border-radius: 100px;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
  margin-right: 15px;
  margin-top: 15px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

#resultsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid lightseagreen;
  position: absolute;
  top: 350px;
  width: 90%;
}

#resultsContainer p {
  width: 90%;
  margin: .75rem auto;
}

#giphs {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: space-around;
  flex-wrap: wrap;
}

iframe {
  border: none;
  margin: .75rem 0;
}

/* Media Queries */
@media (min-width: 48em) {

  /* We increase the body font size */
  body {
    font-size: 16px;
  }

  /* We can align the menu header to the left, but float the
  menu items to the right. */
  .home-menu {
    text-align: left;
  }

  .home-menu ul {
    float: right;
  }

  /* We increase the height of the splash-container */
  .splash-container {
    height: 500px;
  }

  /* We decrease the width of the .splash, since we have more width
  to work with */
  .splash {
    width: 50%;
    height: 50%;
  }

  .splash-head {
    font-size: 250%;
  }

  /* We remove the border-separator assigned to .l-box-lrg */
  .l-box-lrg {
    border: none;
  }

  #resultsContainer {
    top: 500px;
  }
}

/*
* -- DESKTOP (AND UP) MEDIA QUERIES --
* On desktops and other large devices, we want to over-ride some
* of the mobile and tablet styles.
*/
@media (min-width: 78em) {

  /* We increase the header font size even more */
  .splash-head {
    font-size: 300%;
  }

 #resultsContainer {
    max-width: 78em;
    margin: 0 auto;
  }
}

/* End of Media Queries */